#abovewrapper {
    width: fit-content;
    display: flex;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
#title {
    border: 2px solid black;
    width: 445px;
    height: 76px;
    display: inline-block;
    background: yellow;
    text-align: center;
}
#menu {
    border: 2px solid black;
    width: 435px;
    height: 70px;
    border-left: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: inline-block;
    background: yellow;
    text-align: center;
}
#about {
    border: 2px solid black;
    width: 438px;
    height: 71px;
    font-size: 13px;
    border-left: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    display: inline-block;
    background: yellow;
    text-align: center;
}
#selecteddriver {
    background: yellow;
    text-align: center;
    width: 1342px;
    border: 2px solid black;
    border-top: 0px;
    padding-bottom: 1px;
    padding-top: 1px;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
#middlewrapper {
    display: flex;
    border: 2px solid black;
    border-top: 0px;
    width: fit-content;
    text-align: center;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}  
#bottomwrapper {
    display: flex;
    border: 2px solid black;
    border-top: 0px;
    width: fit-content;
    text-align: center;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}  
#bargraph {
    padding-top: 6px;
    display: inline-block;
    text-align: center;
}
#legendtable {
    padding-top: 6px;
    display: inline-block;
    text-align: center;
}
#comparisons {
    padding-top: 6px;
    display: inline-block;
    text-align: center;
    border-left: 2px solid black;
}
#cmplegendtable {
    padding-top: 6px;
    display: inline-block;
    text-align: center;
}
#dnf {
    padding-top: 6px;
    display: inline-block;
    text-align: center;
}
#consistency {
    padding-top: 6px;
    display: inline-block;
    text-align: center;
    border-left: 2px solid black;
}
#similar-drivers {
    padding-top: 6px;
    display: inline-block;
    text-align: center;
    border-left: 2px solid black;
}
#simlegendtable {
    padding-top: 6px;
    display: inline-block;
    text-align: center;
}
#endingdiv {
    background: yellow;
    text-align: center;
    width: 1342px;
    border: 2px solid black;
    border-top: 0px;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
            
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}